<div class="announcement-bar page-width color-{{ section.settings.container_color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'link' -%}
        {%- if block.settings.text != blank -%}
          {%- if block.settings.url != blank -%}
            <a href="{{ block.settings.url }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
              {{ block.settings.text }}
            </a>
          {%- endif -%}
        {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.menu_bar.name",
  "settings": [
    {
      "type": "select",
      "id": "container_color_scheme",
      "default": "accent-3",
      "label": "t:sections.menu_bar.settings.container_color_scheme.label",
      "info": "t:sections.menu_bar.settings.container_color_scheme.info",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "t:sections.menu_bar.blocks.link.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text",
          "label": "t:sections.menu_bar.blocks.link.settings.text.label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:sections.menu_bar.blocks.link.settings.url.label"
        }
      ]
    }
  ]
}
{% endschema %}
