{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

 .wrapper{
  padding: 0 5rem;
  max-width: var(--page-width);
  margin: 0 auto;
} 

@media screen and (max-width: 750px) {
  .wrapper {
  padding: 0 1.5rem;
  } 
}

.tab{
  cursor: pointer;
  color: black;
  padding:0px 20px;
  margin:0px 2px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  /* box-shadow: 0 0.5rem 0.8rem #00000080; */
}
.panels{
  background-color: #ffffff;
  /* box-shadow: 0 0.1rem 1rem #00000080; */
  min-height:200px;
  width:100%;
  /* max-width:500px; */
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
  border-top: 1px solid #E4E4E7;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background-color: #ffffff;
  color:#2D5A4F;
  border-bottom: 3px solid #ABD6CA;
  font-weight: 700;
}
{%- endstyle -%}
{% if product.metafields.custom.product_information != blank or product.metafields.custom.specifications != blank %}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    {% comment %} {{ section.settings.custom_liquid }} {% endcomment %}

    <div class="wrapper">
      <input class="radio" id="one" name="group" type="radio" checked>
      <input class="radio" id="two" name="group" type="radio">
      <input class="radio" id="three" name="group" type="radio">
      <div class="tabs">
        {% if product.metafields.custom.product_information != blank %}
      <label class="tab" id="one-tab" for="one">Productinformatie</label>
        {% endif %}
        {% if product.metafields.custom.specifications != blank %}
      <label class="tab" id="two-tab" for="two">Specificaties</label>
        {% endif %}
    
        </div>
      <div class="panels">
        {% if product.metafields.custom.product_information != blank %}
          <div class="panel" id="one-panel">
            {{ product.metafields.custom.product_information|newline_to_br }}
          </div>
        {% endif %}
        {% if product.metafields.custom.specifications != blank %}
          <div class="panel" id="two-panel">
            {{ product.metafields.custom.specifications|newline_to_br }}
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
